<!-- Footer -->
<div class="text-center text-lg-start bg-footer text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="ps-5 mx-5 d-none d-lg-block text-uppercase justify-content-between">
            <a href="#" class="text-white text-decoration-none mx-3">main</a>
            <a href="#" class="text-white text-decoration-none mx-3">about</a>
            <a href="#" class="text-white text-decoration-none mx-3">game features</a>
            <a href="#" class="text-white text-decoration-none mx-3">system requirements</a>
            <a href="#" class="text-white text-decoration-none mx-3">quotes</a>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="mx-4 text-white text-decoration-none link-primary">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="mx-4 text-white text-decoration-none link-primary">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="mx-4 text-white text-decoration-none link-danger">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="" class="mx-4 text-white text-decoration-none link-primary">
                <i class="bi bi-twitch"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="d-flex justify-content-center justify-content-lg-between">
        <div class="p-4 text-secondary">
            © 2022 Your Games, Inc. All Rights Reserved
        </div>
        <div class="p-4 text-uppercase text-white">
            <a href="#" class="text-white text-decoration-none mx-1">privacy policy</a>
            |
            <a href="#" class="text-white text-decoration-none mx-1">terms of services</a>
            |
            <a href="#" class="text-white text-decoration-none mx-1">code of conduct</a>
        </div>
    </div>
    <!-- Copyright -->
</div>
<!-- Footer -->