<!-- Navbar -->
<nav id="mainNavbar" class="navbar fixed-top navbar-dark bg-dark navbar-expand-md bg-opacity-50">
    <a href="/" class="navbar-brand px-5 px-lg-5 mx-sm-3 mx-lg-5">Logo</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="px-5 collapse navbar-collapse row" id="navLinks">
        <ul class="col-md-8 col-lg-9 navbar-nav text-uppercase">
            <li class="nav-item">
                <a href="/" class="nav-link">home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">work</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">about me</a>
            </li>
        </ul>
        <ul class="col-md-auto navbar-nav text-uppercase">
            <li class="nav-item">
                <a href="/users/register" class="nav-link">sign up</a>
            </li>
            <li class="nav-item">
                <a href="/users/login" class="nav-link">login</a>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">admin</a>
            </li>
        </ul>
    </div>
</nav>