<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Head -->
  <%- include('../partials/head'); %>
    <!-- Internal icon -->
    <link rel="icon" type="image/x-icon" href="images/home/icon.ico">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header class="container-fluid px-0">
    <%- include('../partials/header'); %>
  </header>
  <!-- First Page -->
  <main>
    <section class="first-page">
      <div class="container px-0">
        <div
          class="d-flex flex-column mb-3 align-items-center text-center position-absolute top-50 start-50 translate-middle">
          <div class="p-2 h1 text-uppercase display-2 text-white">
            <strong>play traditional game</strong>
          </div>
          <div class="p-2 h3 text-white">
            Experience new traditional game play
          </div>
          <!-- Button to play game -->
          <div class="p-2">
            <a href="/game">
              <button class="button-first-page btn btn-warning text-uppercase" href="/game">
                <strong>play now</strong>
              </button>
            </a>
          </div>
        </div>
        <!-- Next page -->
        <div class="p-2 text-uppercase position-absolute bottom-0 start-50 translate-middle-x text-center text-white">
          the story<br>
          <img class="img-fluid" src="images/home/scroll-down.svg" alt="scroll-down">
        </div>
      </div>
    </section>
    <!-- Second Page -->
    <section class="second-page position-relative">
      <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row">
          <div class="text-second-page col-lg-4">
            <h3 class="h3 text-white">
              What's so special
            </h3>
            <h1 class="h1 text-uppercase text-white">
              the games
            </h1>
          </div>
          <div class="col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner" id="myCarousel">
                <div class="carousel-item active">
                  <img class="img-fluid " src="images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Third Page -->
    <section class="third-page position-relative">
      <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row justify-content-end">
          <div class="col-lg-6">
            <div class="title-third-page">
              <h3 class="h3 text-white">
                What's so special
              </h3>
              <h1 class="h1 text-uppercase text-white">
                features
              </h1>
            </div>
            <div class="mt-5">
              <div class="tl-item active">
                <div class="tl-dot b-white"></div>
                <div class="tl-content ms-3">
                  <div class="h2 text-uppercase text-warning">traditional games</div>
                  <div class="text-white mt-1">If you miss your childhood, we provide many
                    traditional games here</div>
                </div>
              </div>
              <div class="tl-item">
                <div class="tl-dot b-white"></div>
                <div class="tl-content ms-3">
                  <div class="h2 text-uppercase text-warning">game suit</div>
                  <div class="text-white mt-1"></div>
                </div>
              </div>
              <div class="tl-item">
                <div class="tl-dot b-white"></div>
                <div class="tl-content ms-3">
                  <div class="h2 text-uppercase text-warning">tbd</div>
                  <div class="text-white mt-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Fourth Page -->
    <section class="fourth-page position-relative">
      <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="pb-5">
          <h4 class="h4 text-white text-center">Can My Computer Run this game?</h3>
        </div>
        <div class="col-lg-5">
          <div class="pb-2">
            <h1 class="h1 text-white text-uppercase">system <br> requirements</h1>
          </div>
          <div class="py-2">
            <table class="table text-white table-bordered border-light">
              <tbody>
                <tr>
                  <td>
                    <p class="h4 text-warning text-uppercase">OS:</p>
                    Windows 7 64-bit only
                    (No OSX support at this time)
                  </td>
                  <td>
                    <p class="h4 text-warning text-uppercase">PROCESSOR:</p>
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="h4 text-warning text-uppercase">MEMORY:</p>
                    4 GB RAM
                  </td>
                  <td>
                    <p class="h4 text-warning text-uppercase">STORAGE:</p>
                    8 GB available space
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <p class="h4 text-warning text-uppercase">GRAPHICS:</p>
                    NVIDIA GeForce GTX 660 2GB or
                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Fifth Page -->
    <section class="fifth-page position-relative">
      <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row align-items-center">
          <div class="col-lg-6 text-white text-center text-lg-start">
            <h1 class="h1 text-uppercase">top scores</h1>
            <p>This top score from various games provided on this platform</p>
            <button class="button-fifth-page btn btn-warning">see more</button>
          </div>
          <div class="col-lg-6 py-5">
            <div class="row">
              <div class="col-md-9 offset-md-3">
                <div class="card mb-3 bg-dark" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="d-none d-md-block col-md-auto mx-2 my-2">
                      <img src="images/home/evan-lahti.jpg" class="img-fluid w-100 rounded-circle img-shadow-fifth-page"
                        alt="profile-picture">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-warning">Evan Lahti</h5>
                        <h6 class="card-subtitle mb-2 text-secondary">PC Gamer</h6>
                      </div>
                    </div>
                    <div class="col-md-1 my-2">
                      <i class="bi bi-twitter text-secondary"></i>
                    </div>
                    <div class="px-2 my-2">
                      <p class="card-text text-white">“One of my gaming highlights of the year.”</p>
                      <p class="card-text"><small class="text-secondary">June 18, 2021</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card mb-3 bg-dark" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="d-none d-md-block col-md-auto ms-2 my-2">
                      <img src="images/home/jada-griffin.jpg"
                        class="img-fluid w-75 rounded-circle img-shadow-fifth-page" alt="profile-picture">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h5 class="card-title text-warning">Jada Griffin</h5>
                        <h6 class="card-subtitle mb-2 text-secondary">Nerdreactor</h6>
                      </div>
                    </div>
                    <div class="col-md-1 my-2">
                      <i class="bi bi-twitter text-secondary"></i>
                    </div>
                    <div class="px-2 my-2">
                      <p class="card-text text-white">“The next big thing in the world of streaming
                        and survival games.”</p>
                      <p class="card-text"><small class="text-secondary">July 10, 2021</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 offset-md-2">
                <div class="card mb-3 bg-dark" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="d-none d-md-block col-md-auto ms-2 my-2">
                      <img src="images/home/aaron-williams.jpg"
                        class="img-fluid w-75 rounded-circle img-shadow-fifth-page" alt="profile-picture">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h5 class="card-title text-warning">Aaron Williams</h5>
                        <h6 class="card-subtitle mb-2 text-secondary">Uproxx</h6>
                      </div>
                    </div>
                    <div class="col-md-1 my-2">
                      <i class="bi bi-twitter text-secondary"></i>
                    </div>
                    <div class="px-2 my-2">
                      <p class="card-text text-white">“Snoop Dogg Playing The Wildly Entertaining
                        ‘SOS’ Is Ridiculous.”</p>
                      <p class="card-text"><small class="text-secondary">December 24, 2018</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sixth Page -->
    <section class="sixth-page position-relative">
      <div class="container position-absolute  bottom-0 start-50 translate-middle-x">
        <div class="d-flex pb-5 mb-5 align-items-center">
          <div class="d-none d-lg-block mx-5 w-100">
            <img src="images/home/skull.png" alt="" class="img-fluid">
          </div>
          <div class="ms-5 text-center text-lg-start">
            <h3 class="h3 text-white">Want to stay in touch?</h3>
            <h1 class="h1 text-uppercase text-white">newsletter subscribe</h1>
            <p class="text-white">In order to start receiving our news, all you have to do is enter your
              email address. Everything else will be taken care of by us. We will send you emails containing
              information about game. We don’t spam.</p>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <form class="form-floating">
                  <input type="email" class="form-control text-warning bg-secondary border border-dark"
                    id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                  <label for="floatingInputValue">Your email address</label>
                </form>
              </div>
              <div class="col-lg-auto py-3">
                <button class="btn btn-warning text-uppercase px-5 py-3">subscribe now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Back to top button -->
  <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
    <i class="bi bi-arrow-up-circle-fill"></i>
  </button>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <!-- General Javascript -->
  <%- include('../partials/script') %>
    <!-- Internal Javascript -->
    <script type="text/javascript" src="javascripts/back-to-top-button.js"></script>
</body>

</html>